Пример технических требований сборочного чертежа
  1 Установку элементов производить по чертежу.
  2* Размеры для справок.
  3** Размеры обеспеч. инстр.
  4 Меры защиты от статического электричества по ОСТ 92-1615-74. Степень жесткости II по ОСТ11.073.062-2001.
  5 Элементы поверхностного монтажа паять припойной пастой ПОС-61 ЛОК ТУ 400 К''Р''-1805-22-91, флюс ФПС-3 ТУ400 СП "ЭВ"-2178-137-98. 
  6 Покрытие лак УР-231 ТУ6-21-14-90(3). Допускается покрытие лаком ЭП-730 ГОСТ 20824-81(3).
  7 Маркировать обозначение и заводской номер печатного узла черной краской МКЭ ОСТ 4ГО.054.2050М2 шрифтом 3,5 или 5 тип А ГОСТ 2.304-81, вместе, удобном для чтения.
  8 Клеймить.