Тенические требования сборочного чертежа 1.
1 Установку элементов производить по чертежу.
2* Размеры для справок..
3 Меры защиты от статического электричества по ОСТ 92-1615-74. Степень жесткости II по ОСТ11.073.062-2001.
4 Элементы поверхностного монтажа паять припойной пастой ПОС-61 ЛОК ТУ 400 К''Р''-1805-22-91, флюс ФПС-3 ТУ400 СП "ЭВ"-2178-137-98. 
7 Маркировать обозначение и заводской номер печатного узла черной краской МКЭ ОСТ 4ГО.054.2050М2 шрифтом 3,5 или 5 тип А ГОСТ 2.304-81, вместе, удобном для чтения.